/best.pt
/best2.pt
/cb13ba4c-34e8-4354-bf06-38ae39ff6c9d.jpg
/green_mask.png
/imgset
/main.scene
/media_images_confusion_matrix_normalized_98_54aa326728e360023e7c.png
/media_images_labels_1_377befa737d24c4d51f8.jpg
/media_images_results_98_5d82d90cf1c7eabaf13e.png
/test1.py
/test2.py
/test3.py
/tt.pdf
/val_batch0_labels_98_b4c50220fa7f8243ecc6.jpg
/val_batch0_pred_98_a4adeec373febca7f06d.jpg
/아이디어.txt
/제목 없음.png
/주제선정.hwp
/주제선정2.hwp
/창공설_2조_부품주문서.xlsx
/창의적공학설계_2조_아이디어선정.pdf
/창의적공학설계_2조_아이디어선정_수정본.pdf
/창의적공학설계_2조_제안서.pdf
/창의적공학설계_2조_중간발표.pdf
/창의적공학설계_2조_중간발표.pptx
soilwatering_predict.py
legacy/soilwatering_predict.py
legacy/test1.py
legacy/test2.py
legacy/test3.py
문서/tt.pdf
문서/주제선정.hwp
문서/주제선정2.hwp
문서/창공설_2조_부품주문서.xlsx
문서/창의적공학설계_2조_아이디어선정_수정본.pdf
문서/창의적공학설계_2조_아이디어선정.pdf
문서/창의적공학설계_2조_제안서.pdf
학습/cb13ba4c-34e8-4354-bf06-38ae39ff6c9d.jpg
학습/media_images_confusion_matrix_normalized_98_54aa326728e360023e7c.png
학습/media_images_labels_1_377befa737d24c4d51f8.jpg
학습/media_images_results_98_5d82d90cf1c7eabaf13e.png
학습/val_batch0_labels_98_b4c50220fa7f8243ecc6.jpg
학습/val_batch0_pred_98_a4adeec373febca7f06d.jpg
학습/제목 없음.png
